<form ng-submit="search()" novalidate>
          <md-input-container class="example-full-width">
            <input mdInput placeholder="Search for">
            <md-icon mdSuffix>search</md-icon>
          </md-input-container>
          <p>
          <input [(ngModel)]="searchinput">
          </p>
</form>

  
  <div>
    <md-list>
      <md-list-item > <!--*ngFor="let searchResult of searchResults"> -->
      <div>
        <h3 class="title" md-line>
         <a href="/url?sa=t&amp;rct=j&amp;q=&amp;esrc=s&amp;source=web&amp;cd=1&amp;cad=rja&amp;uact=8&amp;ved=0ahUKEwjO4vqk_ZDVAhVU4mMKHVYmCzIQFggoMAA&amp;url=https%3A%2F%2Fwww.linkedin.com%2Fin%2Fmartymazurik&amp;usg=AFQjCNGX5tGzxXBp_PtiAFXH-qiyMFqa_Q" onmousedown="return rwt(this,'','','','1','AFQjCNGX5tGzxXBp_PtiAFXH-qiyMFqa_Q','','0ahUKEwjO4vqk_ZDVAhVU4mMKHVYmCzIQFggoMAA','','',event)" data-href="https://www.linkedin.com/in/martymazurik">Marty Mazurik | LinkedIn</a>
        </h3>
        <cite class="origin">https://www.linkedin.com/in/martymazurik</cite>
        <div class="descr">
          <em>Marty Mazurik</em> is on Facebook. Join Facebook to connect with <em>Marty Mazurik</em> and others you may know. Facebook gives people the power to share and makes&nbsp;...
        </div>
      </div>
      </md-list-item>
      <md-list-item>
      <div>
        <h3 class="title" md-line>
          <a href="/url?sa=t&amp;rct=j&amp;q=&amp;esrc=s&amp;source=web&amp;cd=2&amp;cad=rja&amp;uact=8&amp;ved=0ahUKEwjO4vqk_ZDVAhVU4mMKHVYmCzIQFgguMAE&amp;url=https%3A%2F%2Fwww.facebook.com%2Fmarty.mazurik&amp;usg=AFQjCNGocLDGl7J905scRSEXcZqTNHq6Ow" onmousedown="return rwt(this,'','','','2','AFQjCNGocLDGl7J905scRSEXcZqTNHq6Ow','','0ahUKEwjO4vqk_ZDVAhVU4mMKHVYmCzIQFgguMAE','','',event)" data-href="https://www.facebook.com/marty.mazurik">Marty Mazurik | Facebook</a>
        </h3>
        <cite class="_Rm">https://www.facebook.com/marty.mazurik</cite>
        <div class="descr">
          <em>Marty Mazurik</em> is on Facebook. Join Facebook to connect with <em>Marty Mazurik</em> and others you may know. Facebook gives people the power to share and makes&nbsp;...
        </div>
      </div>
      </md-list-item>
      <md-list-item>
      <div>
        <h3 class="title" md-line>
         <a href="/url?sa=t&amp;rct=j&amp;q=&amp;esrc=s&amp;source=web&amp;cd=3&amp;cad=rja&amp;uact=8&amp;ved=0ahUKEwjO4vqk_ZDVAhVU4mMKHVYmCzIQFggwMAI&amp;url=https%3A%2F%2Ftwitter.com%2Fmartymazurik&amp;usg=AFQjCNGq7apo547eQynwtUlr3JAFRBAuPg" onmousedown="return rwt(this,'','','','3','AFQjCNGq7apo547eQynwtUlr3JAFRBAuPg','','0ahUKEwjO4vqk_ZDVAhVU4mMKHVYmCzIQFggwMAI','','',event)" data-href="https://twitter.com/martymazurik">marty mazurik (@martymazurik) | Twitter</a> 
        </h3>
        <cite class="_Rm">https://twitter.com/martymazurik</cite>
        <div class="descr">
          The latest Tweets from <em>marty mazurik</em> (@martymazurik). Diverse and talented tech guy, with cooking and real estate skills. Portland, Ore.
        </div>

      </div>
      </md-list-item>
    </md-list>
</div>



