  <div>
    <md-input-container (keyup.enter)="onEnter()"> 
      <input mdInput type="text" placeholder="Search for"  [(ngModel)]="searchterm">
      <md-icon mdSuffix>search</md-icon>
    </md-input-container>
  </div>
  <div>
    <md-list>
      <md-list-item *ngFor="let searchResult of searchResults">
      <div>
        <h3 class="title" md-line>
         <a [attr.href]="searchResult.titleurl"  
            onmousedown="return rwt(this,'','','','1','AFQjCNGX5tGzxXBp_PtiAFXH-qiyMFqa_Q','','0ahUKEwjO4vqk_ZDVAhVU4mMKHVYmCzIQFggoMAA','','',event)" 
            [attr.data-href]="searchResult.titledatahref" 
            [textContent]="searchResult.title"></a>
        </h3>
        <cite class="origin" [textContent]="searchResult.cite"></cite>
        <div class="descr">
          {{searchResult.descr}}
        </div>
      </div>
      </md-list-item>
    </md-list>
</div>



